<html>
<style>
header, footer {
    width: 100%;
    height: 35px ;
    color: white;
    padding: 1px;
    background-color: green;
    
}
div {
    width: 800px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
}
</style>
 <header>
<table  width='100%'>
<tr>
<td width='20px'>
<img src="../../static/LOGO.png" alt="logo" style="width:30px;height:30px;">
</td>
<td>
 {{ entity.name }}
</td>
<tr>
</table>
</header>   
    <h1></h1>
    
<div>    
    <p>
    {{ entity.description }}<br><br>
    
    <img src="{{ entity.photolink }}" ><br>
    
    Address: {{ entity.address }}<br><br>
    
    Offical Link: <a href = "{{ entity.officallink }}"> {{ entity.officallink }} </a>
    </p>
    
    <form action='{% url 'review' entity.id %}' method="POST" >
        {% csrf_token %}
        
        <b>How do you feel about {{ entity.name }} ?</b><br>
        <input type="radio" name="review" value="Good"> Good<br>
        <input type="radio" name="review" value="Bad"> Bad <br>
        
        <br>Leave your thoughts:<br>
        <textarea row = '10' cols = "100" name = "commentbox" id = "commentbox"></textarea>
        <br>
        
        <input type='submit' name='Submit' value='Submit'><br>
    </form>
    
    <br><br>
    See what people say about {{ entity.name }}:<br>
    
    <textarea rows = 20 cols= 100 disabled >
        Comments:
        ----------------------------------------
        {% for comment in comments %}
        {{ comment.comment }}
        ----------------------------------------
        {% endfor %}
    </textarea>
    
    
    <br><a href='{% url 'list' %}'>Back to list</a><br>
    <br><a href='{% url 'userhome' %}'>Back to home</a><br>
</div>    
</html>
