<html>
    <body>
        
    <h1>Need some help?</h1>
    <a href="">Q&A</a>
    <p> Click "Q&A" to find out some common problem that users will have</p>
            
    <xxxx action="/action_page.php">
    <p>Cant'fix it? Just leave a message:
            
    <form action='{% url 'helpmessage' %}' method="POST">
            
    {% csrf_token %}
            
    <textarea row = '10' cols = "100" name = "help box" id = "help box"></textarea>
    <br>
            
    <input type='submit' name='send' value='send'><br>
    </form>
            
    {% if message %}
    <br>
    <p><strong>{{message}}</strong></p>
    <br>
    {% endif %}
            
<br><br><a href='{% url 'home' %}'>back to home</a><br>
            
</body>
</html>
