<!Doctype html>
<html>
<head>
<title> Account Details </title>
</head>
<body>

<h1> Edit your account details </h1>
<br>
<br>

<xxxx>
<h2> User Name: </h2><br>
First Name:<br>
<xxxx type="text" name="firstname"><br><br>
Last Name:<br><br>
<xxxx type="text" name="lastname"><br><br>
<br><br>

<h3> Details:</h3> <br>
Physical Address: <br>
<xxxx type="text" name="address"><br><br>
Contact Number: <br>
<xxxx type="text" name="contactnumber"><br><br>
Email Address: <br>
<xxxx type="email" name="emailaddress"><br><br>

<h4> Password: </h4><br>
Old Password:<br>
<xxxx type="password" name="psw"><br><br>
New Password:<br>
<xxxx type="password" name="psw"><br><br>
Confirm New Password: <br>
<xxxx type="password" name="psw"><br><br>
<xxxx type="submit" value="Save Changes"> 
<xxxx type="reset">
</xxxx>
</body>
</html>
