<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1>Admin messenger </h1>

<p>Messsages</p>
{% for each in message_list %}
<li><a href='{% url 'adminmessenger' %}'>
{% for account in account_list %}
{% if each.senderid == account.id %}
    {{ account.username }}
    {% endif %}
    {% endfor %}
    
    to
{% for account in account_list %}

{% if each.receiverid == account.id %}
{{ account.username }}
{% endif %}
{% endfor %}
    </a>
{% endfor %}


<p>Start new Conversation</p>
<br><a href='{% url 'adminhome' %}'>Back to home</a><br>

</body>
</html>
