<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1>Admin messenger </h1>

<p>Messsages</p>
{% for each in conversation_list %}


{% for account in account_list %}
{% if account.id == each  %}
<li>
    Conversation with:
    <a href='{% url 'adminconversation' account.id %}'>
        {{account.username}}
    </a>
    
{% endif %}
{% endfor %}
{% endfor %}
<br><br>


<br><a href='{% url 'startnewconversation' %}'>Start New Conversation</a><br>
<br><a href='{% url 'adminhome' %}'>Back to home</a><br>

</body>
</html>
