<!DOCTYPE html>
<html>
<head>
<style>
.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
</style>
</head>
<body>
<h1>Admin messenger </h1>

<p>Messsages</p>

<div class="chip">
  <img src="img_avatar.png" alt="John" width="96" height="96">
  John    contact@example.com
   <xxxx type="checkbox" name="check" value="unread"> 
</div><p>
<div class="chip">
  <img src="img_avatar.png" alt="Joe" width="96" height="96">
  Joe   contact@example.com
   <xxxx type="checkbox" name="check" value="read" checked> 
</div><p>
<div class="chip">
  <img src="img_avatar.png" alt="Chan" width="96" height="96">
  Chan   contact@example.com
   <xxxx type="checkbox" name="check" value="read" checked> 
</div><p>
<div class="chip">
  <img src="img_avatar.png" alt="Doe" width="96" height="96">
  Doe   contact@example.com
   <xxxx type="checkbox" name="check" value="unread" > 
   
</div><p>

<p>Start new Conversation<p>
 <xxxx type="text" name="FirstName" value="Email address"><p>
 <xxxx rows="4" cols="50">
</xxxx><p>
<xxxx type="submit" value="Send">
</body>
</html>
